# Dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Test output
/coverage

# Framework output
/.next/
/.vinext/
/out/

# Local files
.DS_Store
*.pem

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment files
.env*
!.env.example

# Deployment tools
.vercel
/.wrangler/

# TypeScript
next-env.d.ts
*.tsbuildinfo

# Build output
/dist/
/outputs/
/work/
